.button-wrapper {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #888;
    color: #e0e1e6;
    flex: 1;
    outline: 0.15rem solid #666;
}

.operator {
    background-color: #fe9241;
    color: white;
}