.double-wide-button {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #888;
    color: #e0e1e6;
    flex: 2;
    outline: 0.15rem solid #555;
}