.screen {
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #666;
    color: white;
    padding: 0.5rem;
    outline: 0.15rem solid #666;
}