.screen {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 4.5rem;
    font-weight: lighter;
    background-color: #555;
    color: white;
    padding: 0.3rem 1rem;
    outline: 0.15rem solid #555;
}